body{
    margin: 0;
    
}

.blacktittle{
    font-size: 35px;
    font-family: 'moodern';
    display: flex;
    justify-content: center;
    align-items: center;
}
.whitetittle{
    font-size: 35px;
    font-family: 'moodern';
}
.burger{
    color: white;
    margin: 10;
    height: 30px;
    float: right;
    width: 30px;
    display: none;
}
.burgerclose{
    color: white;
    margin: 10;
    height: 20px;
    float: right;
    width: 100px;
    display: none;
    padding: 5 ;}
.link{
    color: white;
    padding-top:23.4px;
    padding-bottom: 23.4px;
    padding-right: 23px;
    padding-left: 23px;
    
    text-decoration: none;
    font-family: 'moodern';
    
}
.link:hover{
    background: white;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    transition: 2s;
}
header{
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav{
    color: white;
    margin: 1px;
    height: 70px;
    width: 350px;
    display: flex;
    padding-right: 20px;
    
    
}



.header-logo {
    width: 200px;
    height: 50px;
   
}
.container{
    display: grid;
    grid-template:  700px 90px 300px 80px 800px 135px 1px 700px 1px 60px 135px 1050px 50px/100vw ;
    height: 100vh;
   
    grid-template-areas: 
                         "contenido contenido"
                         "tittlecuarentena tittlecuarentena"
                         "medidascuarentena medidascuarentena"
                          "tittle-nosotros tittle-nosotros"
                         "nosotros nosotros"
                         "tittle-gallery tittle-gallery"
                         "hr hr"
                         "post-list post-list"
                         "hr2 hr2"
                         "o o"
                         "tittle-contactanos tittle-contactanos"
                         "contactanos contactanos"
                         "footer footer"
   
                         
}


.item:nth-of-type(1){
    background-color: black;
}
.tittle-cuarentena{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Noto sans jp;
    font-weight: bold;
    font-size: 22px;
    width: 100vw;
    background: black;
    color: white;
    text-shadow: 2px 5px 5px black;
}
.medidas-cuarentena{
    width: 100vw;
    grid-area: medidascuarentena;
    display: flex;
    justify-content: space-around;
}
.tittlemedida{
    font-family:'moodern' ;
 
}
.medidas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    flex-direction: column;
    font-family:'moodern'
}
.medidas img{
 width: 50px;
}
.contenido{
    grid-area: contenido;
    background-image: url('../img/portada.png') ;
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100vw;
    
}
.tittle-nosotros{
    grid-area: tittle-nosotros;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-shadow: 2px 5px 5px black;
}
.nosotros{
    grid-area: nosotros;
    display: grid;
    grid-template: repeat(2,50%) /repeat(4,25%);
   background: black;
    width: auto;
    
}
.subitem.foto{
    background-image: url(../img/foto.jpg);
    background-size: cover;
    grid-column: 3/5;
    grid-row: 1/3;
    
   
    
}
.subitem.texto{
    background: #e4e3e3;
    grid-column: 1/3;
    grid-row: 1/3;
   
    padding: 30px;
    
}
.subitem.texto h2{
    color:black;
    text-align: center;
    font-family: 'manhandle slab';
    font-size: 30px;
    
}
.subitem.texto p{
    text-align: center;
    font-family: 'moodern';
    font-weight: lighter;
}
.subitem.texto:hover h2 {
    color: #EABE3F	;
}

.footer{
    grid-area: footer;
}


    .tittle-gallery{
        grid-area: tittle-gallery;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        flex-direction: column;
        width: 100vw;
       
     
    

    }
    .tittle-gallery img{
        padding: 15px;
    }
    .tittle-gallery h1{
       margin: 0;
    }
.post{
    position: relative;
    overflow: hidden;
    display: FLEX;
    
}
.hr{
    grid-area: hr;
    padding: 0px ;
    display: flex;
    justify-content: center;
    
}
.hr hr{
    margin: 0px;
    width: 90%;
    background: black;
    border: 0px solid white;
}
.hr2{
    grid-area: hr2;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.hr2 hr{
    background: black;
    width: 90%;
    border: 0px;
    margin: 0px;
    height: 0.5px;
}

.post-list{
    width: 100vw;
    grid-area: post-list;
    
    position: relative;
    display: grid;
    grid-template: repeat(3,200px )/ repeat(3,200px );
    gap: 10px;
    justify-content: center;
    align-content: center;
}
.post-image{
    margin: 0;
    width: 200px;
}
.post-image img{
    width: 200px;
    width: 200px;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 60%);
    width: 200px;
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}
.post:hover .overlay{
    display:flex;
}
.o{
    grid-area: o;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.tittle-contactanos{
    color: white;
    background: black;
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 5px 5px black;
    position: relative;
    width: 100vw;
    grid-area: tittle-contactanos;

}
.contactanos{
    grid-area: contactanos;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black ;
    width: 100vw;
}
.icon-contactanos{
   display: flex;
   justify-content: space-around;
}
.icon-contactanos img{
    width: 30px;
}
.footer{
background-color: #333333;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
width: 100vw;
   
}
h3{
   margin: 0;
  
}

@media (min-width:320px) and (max-width:400px){
  
    .burger{
        color: white;
        height: 40px;
        width: 40px;
        padding-top: 5px;
        padding-bottom: 20px;
        display: block;
        padding-right: 5px;
    }
    .burgerclose{
        color: white;
        margin: 10px;
        height: 20px;
        width: 20px;
        display: none;
        padding-bottom: 5px ;
        padding-right: 10px;
    }
    .burgerclose img{
        height: 25px;
    }
    header{
        width: 100vw;
        position: relsative;
    }
    .link{
        font-size: 15px;
        font-family: 'noto sans jp';
        padding: 25px 0px;
        width: 100vw;
        color: white;
        background: rgba(0 , 0, 0,65%);
        text-decoration: none;
        
        text-align: center;
    }
    nav{height: 150px;
        flex-direction: column;
        align-items: center;
        height: 0px;
        width: 100vw;
        background-color: rgb(0, 0, 0, 60%);
        margin: 0;
        display: none;
        grid-area: nav;
        position: absolute;
        top: 70px;
      
    }


.whitetittle{
        font-size: 20px;
        font-family: 'moodern';
    }
.blacktittle{
    font-size: 20px;
    font-family: 'moodern';
}
.overlay{
    width: 100px;
    height: 100px;
}
.container{
    
    display: grid;
    grid-template:  550px  90px 200px 50px 175.200px 70px 1px 360px 0.5px 40px 100px 400px 50px/ 1fr ;
    height: 100vh;
   
    grid-template-areas: 
    "contenido contenido"
    "tittlecuarentena tittlecuarentena"
    "medidascuarentena medidascuarentena"
     "tittle-nosotros tittle-nosotros"
    "nosotros nosotros"
    "tittle-gallery tittle-gallery"
    "hr hr"
    "post-list post-list"
    "hr2 hr2"
    "o o"
    "tittle-contactanos tittle-contactanos"
    "contactanos contactanos"
    "footer footer";
}
.hr{
    grid-area: hr;
    padding: 0px ;
    display: flex;
    justify-content: center;
    
}
.hr hr{
    margin: 0px;
    width: 90%;
    background: black;
    border: 0px solid white;
}
.hr2{
    grid-area: hr2;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.hr2 hr{
    background: black;
    width: 90%;
    border: 0px;
    margin: 0px;
    height: 0.5px;
}

.logo-header{
    width: 50vw;
    height: 30px;
    grid-area: logo;
}

.tittle-cuarentena{
    font-size: 25px;
}
.medidas{

}
.medidas img{
    padding: 5px;
    width: 30px;
}
.tittlemedida{
 font-size: 10px;
}
.medidas p{
 font-size: 10px;
 width: 33vw;
}
.tittle-nosotros{
    width: 100vw;
}
.subitem.texto h2{
    font-size: 15px;
}
.subitem.texto p{
    font-size: 10px;
}
.subitem.texto{
    padding:10px;
}
.nosotros{
    padding: 0px;
    width: 100vw;
    grid-template: repeat(2,50%) /repeat(4,25%);
    
}
.tittle-gallery{
width: 100vw;
padding: 0 10 0 10
}
.tittle-gallery img{
    padding: 10px;
    width: 15px;
}
.post-list{
    grid-template: repeat(3,100px )/ repeat(3,100px );
    width: 100vw;
    gap: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    
}
.contactanos{
    height: 400px;
    
}
.post-image img {
    width: 100px;
    height: 100px;
}
.icon-contactanos img{
    width: 15px;
}
.mapawidth{
    width: 300px;
    height: 300px;
}
.footer h3{
    font-size: 15px;
}
}
@media (min-width:400px) and (max-width:500px){
   
    .burger{
        color: white;
        height: 40px;
        width: 40px;
        padding-top: 5px;
        padding-bottom: 20px;
        display: block;
        padding-right: 10px;
    }
    .burgerclose{
        color: white;
        margin: 10px;
        height: 20px;
        width: 20px;
        display: none;
        padding-bottom: 5px ;
        padding-right: 20px;
    }
    .burgerclose img{
        height: 25px;
    }
    header{
        width: 100vw;
        position: fixed;
    }
    .link {
        font-size: 15px;
        font-family: 'noto sans jp';
        width: 100%;
        color: white;
        background: rgba(0 , 0, 0,65%);
        text-decoration: none;
        text-align: center;
        padding: 20px 0px;
    }
    nav{height: 150px;
        flex-direction: column;
        align-items: center;
        height: 0px;
        width: 100vw;
        background-color: rgb(0, 0, 0, 60%);
        margin: 0;
        display: none;
        grid-area: nav;
        position: absolute;
        top: 70px;
      
    }

    .whitetittle{
        font-size: 20px;
        font-family: 'moodern';
    }
.blacktittle{
    font-size: 20px;
    font-family: 'moodern';
}

.container{
    
    display: grid;
    grid-template:  550px  90px 200px 50px 200px 100px 1px 420px 0.5px 50px 100px 500px 50px/ 1fr ;
    height: 100vh;
   
    grid-template-areas: 
    
    "contenido contenido"
    "tittlecuarentena tittlecuarentena"
    "medidascuarentena medidascuarentena"
     "tittle-nosotros tittle-nosotros"
    "nosotros nosotros"
    "tittle-gallery tittle-gallery"
    "hr hr"
    "post-list post-list"
    "hr2 hr2"
    "o o"
    "tittle-contactanos tittle-contactanos"
    "contactanos contactanos"
    "footer footer";
}
.hr{
    grid-area: hr;
    padding: 0px ;
    display: flex;
    justify-content: center;
    
}
.hr hr{
    margin: 0px;
    width: 90%;
    background: black;
    border: 0px solid white;
}
.hr2{
    grid-area: hr2;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.hr2 hr{
    background: black;
    width: 90%;
    border: 0px;
    margin: 0px;
    height: 0.5px;
}
.logo-header{
    width: 50vw;
    height: 25px;
    grid-area: logo;
}
.nav{
    display: none; grid-area: nav;
}
.logo-header img{
    height: 25px;
}
.medidas img{
    padding: 10px;
    width: 30px;
}
.tittlemedida{
 font-size: 10px;
}
.medidas p{
 font-size: 10px;
 width: 33vw;
}
.tittle-nosotros{
    width: 100vw;
}
.subitem.texto h2{
    font-size: 17.5px;
}
.subitem.texto p{
    font-size: 10px;
}
.subitem.texto{
    padding:10px;
}
.nosotros{
    padding: 0px;
    width: 100vw;
    grid-template: repeat(2,50%) /repeat(4,25%);
    justify-content: center;
    align-content: center;
}
.tittle-gallery{
width: 100vw;
padding: 0 10 0 10
}
.tittle-gallery img{
    padding: 10px;
    width: 15px;
    height: 20px;
}
.overlay{
    width: 115px;
    height: 115px;
}
.post-list{
    grid-template: repeat(3,115px )/ repeat(3,115px );
    width: 100vw;
    gap: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.post-image img {
    width: 115px;
    height: 115px;
}
.icon-contactanos img{
    width: 15px;
}
.mapawidth{
    width: 375px;
    height: 375px;
}
.footer h3{
    font-size: 15px;
}
}

@media (min-width:500px) and (max-width:600px){
  
    .burger{
        color: white;
        height: 40px;
        width: 40px;
        padding-top: 5px;
        padding-bottom: 20px;
        display: block;
        padding-right: 10px;
    }
    .burgerclose{
        color: white;
        margin: 10px;
        height: 20px;
        width: 20px;
        display: none;
        padding-bottom: 5px ;
        padding-right: 15px;
    }
    .burgerclose img{
        height: 25px;
    }
    header{
        width: 100vw;
        position: fixed;
    }
    .link {
        font-size: 15px;
        font-family: 'moodern';
        font-weight: lighter;
        width: 100%;
        color: white;
        background: rgba(0 , 0, 0,65%);
        text-decoration: none;
        text-align: center;
        padding: 20px 0px;
    }
    nav{height: 150px;
        flex-direction: column;
        align-items: center;
        height: 0px;
        width: 100vw;
        background-color: rgb(0, 0, 0, 60%);
        margin: 0;
        display: none;
        grid-area: nav;
        position: absolute;
        top: 70px;
      
    }

        
    .whitetittle{
        font-size: 20px;
        font-family: 'moodern';
    }
.blacktittle{
    font-size: 20px;
}

.container{
    
    display: grid;
    grid-template:  550px  90px 200px 80px 250px 100px 1px 500px 1px 50px 115px 500px 50px/ 1fr;
    height: 100vh;
   
    grid-template-areas: 
   
    "contenido contenido"
    "tittlecuarentena tittlecuarentena"
    "medidascuarentena medidascuarentena"
     "tittle-nosotros tittle-nosotros"
    "nosotros nosotros"
    "tittle-gallery tittle-gallery"
    "hr hr"
    "post-list post-list"
    "hr2 hr2"
    "o o"
    "tittle-contactanos tittle-contactanos"
    "contactanos contactanos"
    "footer footer";
}

.logo-header{
    width: 50vw;
    height: 25px;
    grid-area: logo;
}
.nav{
    display: none; grid-area: nav;
}
.logo-header img{
  
   height: 25px;
}
.medidas img{
    width: 40px;
    padding: 10px;
}
.tittlemedida{
 font-size: 10px;
}
.medidas p{
 font-size: 10px;
}
.tittle-nosotros{
    width: 100vw;
}
.subitem.texto h2{
    font-size: 20px;
}
.subitem.texto p{
    font-size: 10px;
}
.subitem.texto{
    padding:10px;
}
.subitem.foto img{
    width: 100%;
    height: 100%;
}
.nosotros{
    padding: 0px;
    width: 100vw;
    grid-template: repeat(2,50%) /repeat(4,25%);
    justify-content: center;
    align-content: center;
}
.hr{
    grid-area: hr;
    padding: 0px ;
    display: flex;
    justify-content: center;
    
}
.hr hr{
    margin: 0px;
    width: 90%;
    background: black;
    border: 0px solid white;
}
.hr2{
    grid-area: hr2;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.hr2 hr{
    background: black;
    width: 90%;
    border: 0px;
    margin: 0px;
    height: 0.5px;
}
.tittle-gallery{
width: 100vw;
margin: 20px 0px 20px 0px;
}
.tittle-gallery img{
    padding: 10px;
    width: 15px;
    height: 20px;
}
.overlay{
    width: 130px;
    height: 130px;
}
.post-list{
    grid-template: repeat(3,130px )/ repeat(3,130px );
    width: 100vw;
    gap: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.post-image img {
    width: 130px; 
    height: 130px;
}
.icon-contactanos img{
    width: 15px;
}
.mapawidth{
    width: 450px;
    height: 450px;
}
.footer h3{
    font-size: 15px;
}
}
@media (min-width:600px) and (max-width:700px){
   
    .burger{
        color: white;
        height: 40px;
        width: 40px;
        padding-top: 5px;
        padding-bottom: 20px;
        display: block;
        padding-right: 10px;
    }
    .burgerclose{
        color: white;
        margin: 10px;
        height: 20px;
        width: 20px;
        display: none;
        padding-bottom: 5px ;
        padding-right: 15px;
    }
    .burgerclose img{
        height: 25px;
    }
    header{
        width: 100vw;
        position: fixed;
    }
    .link {
        font-size: 15px;
        font-family: 'moodern';
        font-weight: lighter;
        width: 100%;
        color: white;
        background: rgba(0 , 0, 0,65%);
        text-decoration: none;
        text-align: center;
        padding: 20px 0px;
    }
    nav{height: 150px;
        flex-direction: column;
        align-items: center;
        height: 0px;
        width: 100vw;
        background-color: rgb(0, 0, 0, 60%);
        margin: 0;
        display: none;
        grid-area: nav;
        position: absolute;
        top: 70px;
      
    }
        
    .whitetittle{
        font-size: 25px;
        font-family: 'moodern';
    }
.blacktittle{
    font-size: 25px;
    font-family: 'moodern';
}

.container{
    
    display: grid;
    grid-template:  550px  90px 200px 80px 300px 100px 1px 550px 1px 50px 125px 500px 50px/ 1fr ;
    height: 100vh;
   
    grid-template-areas: 
    
    "contenido contenido"
    "tittlecuarentena tittlecuarentena"
    "medidascuarentena medidascuarentena"
     "tittle-nosotros tittle-nosotros"
    "nosotros nosotros"
    "tittle-gallery tittle-gallery"
    "hr hr"
    "post-list post-list"
    "hr2 hr2"
    "o o"
    "tittle-contactanos tittle-contactanos"
    "contactanos contactanos"
    "footer footer";
}

.logo-header{
    width: 50vw;
    height: 25px;
    grid-area: logo;
}
.nav{
    display: none; grid-area: nav;
}
.logo-header img{
  
   height: 25px;
}
.tittle-nosotros{
    width: 100vw;
}
.subitem.texto h2{
    font-size: 20px;
}
.subitem.texto p{
    font-size: 10px;
}
.subitem.texto{
    padding:10px;
}
.medidas img{
    padding: 10px;
    width: 30px;
}
.tittlemedida{
 font-size: 15px;
}
.medidas p{
 font-size: 10px;
 width: 33vw;
}
.nosotros{
    padding: 0px;
    width: 100vw;
    grid-template: repeat(2,50%) /repeat(4,25%);
    justify-content: center;
    align-content: center;
}
.hr{
    grid-area: hr;
    padding: 0px ;
    display: flex;
    justify-content: center;
    
}
.hr hr{
    margin: 0px;
    width: 90%;
    background: black;
    border: 0px solid white;
}
.hr2{
    grid-area: hr2;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.hr2 hr{
    background: black;
    width: 90%;
    border: 0px;
    margin: 0px;
    height: 0.5px;
}

.tittle-gallery{
width: 100vw;
margin: 20px 0px 20px 0px;
}
.tittle-gallery img{
    padding: 10px;
    width: 15px;
    height: 25px;
}
.overlay{
    width: 150px;
    height: 150px;
}
.post-list{
    grid-template: repeat(3,150px )/ repeat(3,150px );
    width: 100vw;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.post-image img {
    width: 150px; 
    height: 150px;
}
.icon-contactanos img{
    width: 20px;
}
.mapawidth{
    width: 450px;
    height: 450px;
}
.footer h3{
    font-size: 15px;
}
}
@media (min-width:700px) and (max-width:800px){
    .burger{
        color: white;
        height: 40px;
        width: 40px;
        padding-top: 5px;
        padding-bottom: 20px;
        display: block;
        padding-right: 10px;
    }
    .burgerclose{
        color: white;
        margin: 10px;
        height: 20px;
        width: 20px;
        display: none;
        padding-bottom: 5px ;
        padding-right: 15px;
    }
    .burgerclose img{
        height: 25px;
    }
    header{
        width: 100vw;
        position: fixed;
    }
    .link {
        font-size: 15px;
        font-family: 'moodern';
        font-weight: lighter;
        width: 100%;
        color: white;
        background: rgba(0 , 0, 0,65%);
        text-decoration: none;
        text-align: center;
        padding: 20px 0px;
    }
    nav{height: 150px;
        flex-direction: column;
        align-items: center;
        height: 0px;
        width: 100vw;
        background-color: rgb(0, 0, 0, 60%);
        margin: 0;
        display: none;
        grid-area: nav;
        position: absolute;
        top: 70px;
      
    }
    .whitetittle{
        font-size: 25px;
        font-family: 'moodern';
        
    }
.blacktittle{
    font-size: 25px;
    font-family: 'moodern';

}

.container{
    
    display: grid;
    grid-template:  550px  90px 200px 80px 350px 100px 1px 550px 1px 50px 125px 500px 50px/ 1fr ;
    height: 100vh;
   
    grid-template-areas: 
    
    "contenido contenido"
    "tittlecuarentena tittlecuarentena"
    "medidascuarentena medidascuarentena"
     "tittle-nosotros tittle-nosotros"
    "nosotros nosotros"
    "tittle-gallery tittle-gallery"
    "hr hr"
    "post-list post-list"
    "hr2 hr2"
    "o o"
    "tittle-contactanos tittle-contactanos"
    "contactanos contactanos"
    "footer footer";
}

.logo-header{
    width: 50vw;
    height: 25px;
    grid-area: logo;
}
.nav{
    display: none; grid-area: nav;
}
.logo-header img{
  
   height: 25px;
}
.tittle-nosotros{
    width: 100vw;
}
.subitem.texto h2{
    font-size: 25px;
}
.subitem.texto p{
    font-size: 10px;
}
.subitem.texto{
    padding:10px;
}
.medidas img{
    padding: 10px;
    width: 30px;
}
.tittlemedida{
 font-size: 15px;
}
.medidas p{
 font-size: 10px;
 width: 33vw;
}
.nosotros{
    padding: 0px;
    width: 100vw;
    grid-template: repeat(2,50%) /repeat(4,25%);
    justify-content: center;
    align-content: center;
}
.hr{
    grid-area: hr;
    padding: 0px ;
    display: flex;
    justify-content: center;
    
}
.hr hr{
    margin: 0px;
    width: 90%;
    background: black;
    border: 0px solid white;
}
.hr2{
    grid-area: hr2;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.hr2 hr{
    background: black;
    width: 90%;
    border: 0px;
    margin: 0px;
    height: 0.5px;
}

.tittle-gallery{
width: 100vw;
margin: 20px 0px 20px 0px;
}
.tittle-gallery img{
    padding: 10px;
    width: 20px;
    height: 30px;
}
.overlay{
    width: 150px;
    height: 150px;
}
.post-list{
    grid-template: repeat(3,150px )/ repeat(3,150px );
    width: 100vw;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.post-image img {
    width: 150px; 
    height: 150px;
}
.icon-contactanos img{
    width: 20px;
}
.mapawidth{
    width: 450px;
    height: 450px;
}
.footer h3{
    font-size: 15px;
}
}
    @media (min-width:800px) and (max-width:900px){
       
            .burger{
                color: white;
                height: 40px;
                width: 40px;
                padding-top: 5px;
                padding-bottom: 20px;
                display: block;
                padding-right: 10px;
            }
            .burgerclose{
                color: white;
                margin: 10px;
                height: 20px;
                width: 20px;
                display: none;
                padding-bottom: 5px ;
                padding-right: 15px;
            }
            .burgerclose img{
                height: 25px;
            }
            header{
                width: 100vw;
                position: fixed;
            }
            .link {
                font-size: 15px;
                font-family: 'moodern';
                font-weight: lighter;
                width: 100%;
                color: white;
                background: rgba(0 , 0, 0,65%);
                text-decoration: none;
                text-align: center;
                padding: 20px 0px;
            }
            nav{height: 150px;
                flex-direction: column;
                align-items: center;
                height: 0px;
                width: 100vw;
                background-color: rgb(0, 0, 0, 60%);
                margin: 0;
                display: none;
                grid-area: nav;
                position: absolute;
                top: 70px;
            }
        .whitetittle{
            font-size: 25px;
            font-family: 'moodern';
       
        }
    .blacktittle{
        font-size: 25px;
        font-family: 'moodern';
        
    }
    
    .container{
        
        display: grid;
        grid-template:  550px  90px 200px 80px 350px 100px 1px 550px 1px 50px 125px 500px 50px/ 1fr ;
        height: 100vh;
       
        grid-template-areas: 
        
        "contenido contenido"
        "tittlecuarentena tittlecuarentena"
        "medidascuarentena medidascuarentena"
         "tittle-nosotros tittle-nosotros"
        "nosotros nosotros"
        "tittle-gallery tittle-gallery"
        "hr hr"
        "post-list post-list"
        "hr2 hr2"
        "o o"
        "tittle-contactanos tittle-contactanos"
        "contactanos contactanos"
        "footer footer";
    }
    
    .logo-header{
        width: 50vw;
        height: 25px;
        grid-area: logo;
    }
    .nav{
        display: none; grid-area: nav;
    }
    .logo-header img{
      
       height: 25px;
    }
    .tittle-nosotros{
        width: 100vw;
    }
    .subitem.texto h2{
        font-size: 25px;
    }
    .subitem.texto p{
        font-size: 10px;
    }
    .subitem.texto{
        padding:10px;
    }
    .medidas img{
        padding: 10px;
        width: 30px;
    }
    .tittlemedida{
     font-size: 15px;
    }
    .medidas p{
     font-size: 10px;
     width: 33vw;
    }
    .nosotros{
        padding: 0px;
        width: 100vw;
        grid-template: repeat(2,50%) /repeat(4,25%);
        justify-content: center;
        align-content: center;
    }
    .hr{
        grid-area: hr;
        padding: 0px ;
        display: flex;
        justify-content: center;
        
    }
    .hr hr{
        margin: 0px;
        width: 90%;
        background: black;
        border: 0px solid white;
    }
    .hr2{
        grid-area: hr2;
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    .hr2 hr{
        background: black;
        width: 90%;
        border: 0px;
        margin: 0px;
        height: 0.5px;
    }
    
    .tittle-gallery{
    width: 100vw;
    margin: 20px 0px 20px 0px;
    }
    .tittle-gallery img{
        padding: 10px;
        width: 20px;
        height: 30px;
    }
    .overlay{
        width: 150px;
        height: 150px;
    }
    .post-list{
        grid-template: repeat(3,150px )/ repeat(3,150px );
        width: 100vw;
        gap: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .post-image img {
        width: 150px; 
        height: 150px;
    }
    .icon-contactanos img{
        width: 20px;
    }
    .mapawidth{
        width: 450px;
        height: 450px;
    }
    .footer h3{
        font-size: 15px;
    }
    }
    @media (min-width:900px) and (max-width:1000px){
       
            .burger{
                color: white;
                height: 40px;
                width: 40px;
                padding-top: 5px;
                padding-bottom: 20px;
                display: block;
                padding-right: 10px;
            }
            .burgerclose{
                color: white;
                margin: 10px;
                height: 20px;
                width: 20px;
                display: none;
                padding-bottom: 5px ;
                padding-right: 15px;
            }
            .burgerclose img{
                height: 25px;
            }
            header{
                width: 100vw;
                position: fixed;
            }
            .link {
                font-size: 15px;
                font-family: 'moodern';
                font-weight: lighter;
                width: 100%;
                color: white;
                background: rgba(0 , 0, 0,65%);
                text-decoration: none;
                text-align: center;
                padding: 20px 0px;
            }
            nav{height: 150px;
                flex-direction: column;
                align-items: center;
                height: 0px;
                width: 100vw;
                background-color: rgb(0, 0, 0, 60%);
                margin: 0;
                display: none;
                grid-area: nav;
                position: absolute;
                top: 70px;}
              
        .whitetittle{
            font-size: 25px;
            font-family: 'moodern';
        }
    .blacktittle{
        font-size: 25px;
        font-family: 'moodern';
        
    }
    
    .container{
        
        display: grid;
        grid-template:  550px  90px 200px 80px 450px 100px 1px 550px 1px 50px 125px 500px 50px/ 1fr ;
        height: 100vh;
       
        grid-template-areas: 
        
        "contenido contenido"
        "tittlecuarentena tittlecuarentena"
        "medidascuarentena medidascuarentena"
         "tittle-nosotros tittle-nosotros"
        "nosotros nosotros"
        "tittle-gallery tittle-gallery"
        "hr hr"
        "post-list post-list"
        "hr2 hr2"
        "o o"
        "tittle-contactanos tittle-contactanos"
        "contactanos contactanos"
        "footer footer";
    }
    
    .logo-header{
        width: 50vw;
        height: 25px;
        grid-area: logo;
    }
    .nav{
        display: none; grid-area: nav;
    }
    .logo-header img{
      
       height: 25px;
    }
    .tittle-nosotros{
        width: 100vw;
    }
    .subitem.texto h2{
        font-size: 25px;
    }
    .subitem.texto p{
        font-size: 10px;
    }
    .subitem.texto{
        padding:10px;
    }
    .medidas img{
        padding: 10px;
        width: 30px;
    }
    .tittlemedida{
     font-size: 15px;
    }
    .medidas p{
     font-size: 10px;
     width: 33vw;
    }
    .nosotros{
        padding: 0px;
        width: 100vw;
        grid-template: repeat(2,50%) /repeat(4,25%);
        justify-content: center;
        align-content: center;
    }
    .hr{
        grid-area: hr;
        padding: 0px ;
        display: flex;
        justify-content: center;
        
    }
    .hr hr{
        margin: 0px;
        width: 90%;
        background: black;
        border: 0px solid white;
    }
    .hr2{
        grid-area: hr2;
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    .hr2 hr{
        background: black;
        width: 90%;
        border: 0px;
        margin: 0px;
        height: 0.5px;
    }
    
    .tittle-gallery{
    width: 100vw;
    margin: 20px 0px 20px 0px;
    }
    .tittle-gallery img{
        padding: 10px;
        width: 20px;
        height: 30px;
    }
    .overlay{
        width: 150px;
        height: 150px;
    }
    .post-list{
        grid-template: repeat(3,150px )/ repeat(3,150px );
        width: 100vw;
        gap: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .post-image img {
        width: 150px; 
        height: 150px;
    }
    .icon-contactanos img{
        width: 20px;
    }
    .mapawidth{
        width: 450px;
        height: 450px;
    }
    .footer h3{
        font-size: 15px;
    }
    }
    @media (min-width:1000px) and (max-width:1100px){
        .burger{
            color: white;
            height: 40px;
            width: 40px;
            padding-top: 5px;
            padding-bottom: 20px;
            display: block;
            padding-right: 10px;
        }
        .burgerclose{
            color: white;
            margin: 10px;
            height: 20px;
            width: 20px;
            display: none;
            padding-bottom: 5px ;
            padding-right: 15px;
        }
        .burgerclose img{
            height: 25px;
        }
        header{
            width: 100vw;
            position: fixed;
        }
        .link {
            font-size: 15px;
            font-family: 'moodern';
            font-weight: lighter;
            width: 100%;
            color: white;
            background: rgba(0 , 0, 0,65%);
            text-decoration: none;
            text-align: center;
            padding: 20px 0px;
        }
        nav{height: 150px;
            flex-direction: column;
            align-items: center;
            height: 0px;
            width: 100vw;
            background-color: rgb(0, 0, 0, 60%);
            margin: 0;
            display: none;
            grid-area: nav;
            position: absolute;
            top: 70px;}
          
    .whitetittle{
        font-size: 25px;
        font-family: 'moodern';
    }
.blacktittle{
    font-size: 25px;
    font-family: 'moodern';
    
}

.container{
    
    display: grid;
    grid-template:  550px  90px 200px 80px 450px 100px 1px 550px 1px 50px 125px 500px 50px/ 1fr ;
    height: 100vh;
   
    grid-template-areas: 
    
    "contenido contenido"
    "tittlecuarentena tittlecuarentena"
    "medidascuarentena medidascuarentena"
     "tittle-nosotros tittle-nosotros"
    "nosotros nosotros"
    "tittle-gallery tittle-gallery"
    "hr hr"
    "post-list post-list"
    "hr2 hr2"
    "o o"
    "tittle-contactanos tittle-contactanos"
    "contactanos contactanos"
    "footer footer";
}

.logo-header{
    width: 50vw;
    height: 25px;
    grid-area: logo;
}
.nav{
    display: none; grid-area: nav;
}
.logo-header img{
  
   height: 25px;
}
.tittle-nosotros{
    width: 100vw;
}
.subitem.texto h2{
    font-size: 30px;
}
.subitem.texto p{
    font-size: 10px;
}
.subitem.texto{
    padding:10px;
}
.medidas img{
    padding: 10px;
    width: 30px;
}
.tittlemedida{
 font-size: 15px;
}
.medidas p{
 font-size: 10px;
 width: 33vw;
}
.nosotros{
    padding: 0px;
    width: 100vw;
    grid-template: repeat(2,50%) /repeat(4,25%);
    justify-content: center;
    align-content: center;
}
.hr{
    grid-area: hr;
    padding: 0px ;
    display: flex;
    justify-content: center;
    
}
.hr hr{
    margin: 0px;
    width: 90%;
    background: black;
    border: 0px solid white;
}
.hr2{
    grid-area: hr2;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.hr2 hr{
    background: black;
    width: 90%;
    border: 0px;
    margin: 0px;
    height: 0.5px;
}

.tittle-gallery{
width: 100vw;
margin: 20px 0px 20px 0px;
}
.tittle-gallery img{
    padding: 10px;
    width: 20px;
    height: 30px;
}
.overlay{
    width: 150px;
    height: 150px;
}
.post-list{
    grid-template: repeat(3,150px )/ repeat(3,150px );
    width: 100vw;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.post-image img {
    width: 150px; 
    height: 150px;
}
.icon-contactanos img{
    width: 20px;
}
.mapawidth{
    width: 450px;
    height: 450px;
}
.footer h3{
    font-size: 15px;
}
    }