body{
    margin: 0;
    
}

.blacktittle,.whitetittle{
    font-size: 30px;
    font-family: 'moodern';
    display: flex;
    justify-content: center;
    align-items: center;
}
.tittle-cuarentena::after{
content: '';
display: block;
position: absolute;
width: 0%;
height: 2px;
transition: 0.2s ease;
background:#EABE3F;
margin-top: 30px;
}
.tittle-cuarentena:hover::after{
    width: 35%;
    transition: 0.2s ease ;
}
h1::after{
    content: '';
    display: block;
    position: absolute;
    width: 0%;
    height: 2px;
    transition: 0.2s ease;
    background:#EABE3F;
    margin-top: 30px;
}
h1:hover::after{
    width: 20%;
    transition: 0.2s ease ;
}
.burger,.burgerclose{
 display: none;
}
.link{
    color: white;
    padding-top:23.4px;
    padding-bottom: 23.4px;
    padding-right: 23px;
    padding-left: 23px;
    text-decoration: none;
    font-family: 'moodern';
    
}
.link::after{
content: '';
display: block;
width: 0%;
height: 2px;
background: #EABE3F;
transition: width .3s;
}
.link:hover::after{
    width: 100%;
    transition: width .3s ;
}
header{
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    color: white;
    margin: 1px;
    height: 70px;
    width: 350px;
    display: flex;
    padding-right: 20px;
}



.header-logo {
    width: 200px;
    height: 50px;
   
}
.container{
    display: grid;
    grid-template:  700px 80px 800px 90px 300px 135px 1px 700px 1px 60px 135px 1050px 75px/100vw ;
    height: 100vh;
   
    grid-template-areas: 
                         "contenido contenido"
                          "tittle-nosotros tittle-nosotros"
                         "nosotros nosotros"
                         "tittlecuarentena tittlecuarentena"
                         "medidascuarentena medidascuarentena"
                         "tittle-gallery tittle-gallery"
                         "hr hr"
                         "post-list post-list"
                         "hr2 hr2"
                         "o o"
                         "tittle-contactanos tittle-contactanos"
                         "contactanos contactanos"
                         "footer footer"
   
                         
}
.tittle-cuarentena{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Noto sans jp;
    font-weight: bold;
    font-size: 22px;
    width: 100vw;
    background: black;
    color: white;
   
}
.medidas-cuarentena{
    width: 100vw;
    grid-area: medidascuarentena;
    display: grid;
    justify-content: center;
    grid-template: 300px/repeat(3,300px);
    background:#e4e3e3;
}
.tittlemedida{
    font-family:'moodern' ;
 
}
.medidas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family:'moodern';
    grid-area: "medidas";
}
.medidas img{
    width: 50px;
    padding-bottom: 10px;}
.medidas p{
padding: 0px 20px 0px 20px;;}
.contenido{
    grid-area: contenido;
    background-image: url('../img/portada.png') ;
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100vw;
    
}
.tittle-nosotros{
    grid-area: tittle-nosotros;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-shadow: 2px 5px 5px black;
}
.nosotros{
    grid-area: nosotros;
    display: grid;
    grid-template: repeat(2,50%) /repeat(4,25%);
   background: black;
    width: auto;
    
}
.subitem.foto{
    background-image: url(../img/foto.jpg);
    background-size: cover;
    grid-column: 3/5;
    grid-row: 1/3;
}
.subitem.texto{
    background:white;
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 30px;
    font-family: 'moodern';
    font-weight: lighter;
    
}
.subitem.texto h2{
    color:black;
    text-align: start;
    font-family: 'manhandle slab';
    font-size: 45px;
    padding: 0px 10px 0px 10px;
}
.subitem.texto p{
    text-align: start;
    padding: 0px 10px 0px 10px;
    font-size: 42.5px;
    width: 85%;
    font-weight: 100;
}
.subitem.texto:hover h2 {
    color: #EABE3F	;
}
.tittle-gallery img{padding: 15px;}
.tittle-gallery h1{margin: 0;}
.tittle-gallery{
}
.post{
    position: relative;
    background-color: black;
}
.hr{
    grid-area: hr;
    padding: 0px ;
    display: flex;
    justify-content: center;
    
}
.hr hr{
    margin: 0px;
    width: 90%;
    background: black;
    border: 0px solid white;
}
.hr2{
    grid-area: hr2;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.hr2 hr{
    background: black;
    width: 90%;
    border: 0px;
    margin: 0px;
    height: 0.5px;
}

.post-list{
    width: 100vw;
    grid-area: post-list;
    position: relative;
    display: grid;
    grid-template: repeat(3,200px )/ repeat(3,200px );
    gap: 10px;
    justify-content: center;
    align-content: center;
}
.post-image,
.post-image img{
    margin: 0;
    width: 200px;
    height: 200px;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 200px;
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.overlay figure{
    margin: 0px;
}
.overlay figure img{
    width: 15px;
}
.post:hover .overlay{
    display:flex;
}
.o{
    grid-area: o;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.tittle-contactanos{
    color: white;
    background: black;
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 5px 5px black;
    position: relative;
    width: 100vw;
    grid-area: tittle-contactanos;

}
.tittle-gallery{
    grid-area: tittle-gallery;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    flex-direction: column;
    width: 100vw; }
.contactanos{
    grid-area: contactanos;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black ;
    width: 100vw;
}
.icon-contactanos{
   display: flex;
   justify-content: space-around;
}
.icon{
    width: 30px;
}
.footer{
background-color: #333333;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
width: 100vw;
grid-area: footer;   
font-family:'noto sans jp' ;
}
h3{
    margin: 0px;
}
@media (min-width:300px) and (max-width:700px){
  
    .burger,
    .burgerclose{
        color: white;
        width: 20px;
        height: 20px;
        padding-right: 10px;
    }
    .burger{display: block;}
    .burgerclose{display: none;}
    .link{
        font-size: 15px;
        font-family: 'noto sans jp';
        padding: 25px 0px;
        width: 100vw;
        color: white;
        background: rgba(0 , 0, 0,65%);
        text-decoration: none;
        font-family: 'moodern';
        text-align: center;
    }
    .link::after{
        height: 0px;
        }
        .link:hover{
            background: white;
            color: black;
            transition: 2s;
        }
    nav{height: 150px;
        flex-direction: column;
        align-items: center;
        height: 0px;
        width: 100vw;
        background-color: rgb(0, 0, 0, 60%);
        margin: 0;
        display: none;
        grid-area: nav;
        position: absolute;
        top: 70px;
      
    }}


@media (min-width:300px) and (max-width:400px){
.whitetittle,.blacktittle{
    font-size: 17.5px;}
.icon{ width: 15px; }

.footer h3{ 
    font-size: 12px;
    font-family: 'moodern'; }

.tittlemedida{ 
    font-size:8.5px; } 
.medidas p{
    font-size: 6.5px;
    height: 50px;
}
.medidas img{
    width: 30px;
}
.medidas-cuarentena{
    grid-template: 150px/repeat(3,33%);
}
.container{
    display: grid;
    grid-template:  100vh 55px 175.200px 55px 150px 85px 1px 300px 1px 60px 100px 350px 50px/100vw ;
    height: 100vh;
    grid-template-areas: 
    "contenido contenido"
     "tittle-nosotros tittle-nosotros"
    "nosotros nosotros"
      "tittlecuarentena tittlecuarentena"
    "medidascuarentena medidascuarentena"
    "tittle-gallery tittle-gallery"
    "hr hr"
    "post-list post-list"
    "hr2 hr2"
    "o o"
    "tittle-contactanos tittle-contactanos"
    "contactanos contactanos"
    "footer footer"

   }
.subitem.texto{  padding: 0px;}

.subitem.texto h2{ font-size: 12.5px;}

.subitem.texto p{font-size: 9px;}

.post-list{
    display: grid;
    grid-template: repeat(3,85px )/ repeat(3,85px );
    gap: 0px;
}
.post-image img,
        .overlay{
            width: 85px;
            height: 85px;
        }
.mapawidth{
    width: 300px;
    height: 300px;
}}


@media (min-width:400px) and (max-width:500px){
    .whitetittle,
    .blacktittle{font-size: 17.5px;}
    
    .icon{ width: 15px; }
    
    .footer h3{ 
        font-size: 12px;
        font-family: 'moodern'; }
    
    .tittlemedida{ font-size:10px; } 
    
    .medidas p{
        font-size: 8px;
        height: 50px;
    }
    .medidas img{
        width: 30px;
    }
    .medidas-cuarentena{
        grid-template: 150px/repeat(3,33%);
    }
    .container{
        display: grid;
        grid-template:  100vh 55px 225.200px 55px 150px 100px 1px 350px 1px 60px 100px 400px 50px/100vw ;
        height: 100vh;
        grid-template-areas: 
        "contenido contenido"
         "tittle-nosotros tittle-nosotros"
        "nosotros nosotros"
        "tittlecuarentena tittlecuarentena"
        "medidascuarentena medidascuarentena"
        "tittle-gallery tittle-gallery"
        "hr hr"
        "post-list post-list"
        "hr2 hr2"
        "o o"
        "tittle-contactanos tittle-contactanos"
        "contactanos contactanos"
        "footer footer"
    
       }
    .subitem.texto{  padding: 0px;}
    
    .subitem.texto h2{ font-size: 15px;}
    
    .subitem.texto p{font-size: 10px;}
    
    .post-list{
        display: grid;
        grid-template: repeat(3,100px )/ repeat(3,100px );
        gap: 2px;
    }
    .post-image img,
        .overlay{
            width: 100px;
            height: 100px;
        }
    .mapawidth{
        width: 350px;
        height: 350px;
    }}
    @media (min-width:500px) and (max-width:600px){
        .whitetittle,
        .blacktittle{font-size: 22.5px;}
        .icon{ width: 20px; }
        
        .footer h3{ 
            font-size: 15px;
            font-family: 'moodern'; }
        
        .tittlemedida{ font-size:12.5px; } 
        
        .medidas p{
            font-size: 10px;
            height: 50px;
        }
        .medidas img{
            width: 40px;
        }
        .medidas-cuarentena{
            grid-template: 200px/repeat(3,33%);
        }
        .container{
            display: grid;
            grid-template:  100vh 65px 275.200px 65px 200px 110px 1px 400px 1px 60px 110px 500px 55px/100vw ;
            height: 100vh;
            grid-template-areas: 
            "contenido contenido"
             "tittle-nosotros tittle-nosotros"
            "nosotros nosotros"
            "tittlecuarentena tittlecuarentena"
            "medidascuarentena medidascuarentena"
            "tittle-gallery tittle-gallery"
            "hr hr"
            "post-list post-list"
            "hr2 hr2"
            "o o"
            "tittle-contactanos tittle-contactanos"
            "contactanos contactanos"
            "footer footer"
        
           }
        .subitem.texto{  padding: 0px;}
        
        .subitem.texto h2{ font-size: 20px;}
        
        .subitem.texto p{
            font-size: 12.5px;
        }
        
        .post-list{
            display: grid;
            grid-template: repeat(3,120px )/ repeat(3,120px );
            gap: 5px;
        }
        .post-image img,
        .overlay{
            width: 120px;
            height: 120px;
        }
        .mapawidth{
            width: 450px;
            height: 450px;
        }  
    }
    @media (min-width:600px) and (max-width:700px){
        .whitetittle,
        .blacktittle{font-size: 25px;}
        .icon{ width: 22.5px; }
        
        .footer h3{ 
            font-size: 15px;
            font-family: 'moodern'; }
        
        .tittlemedida{ font-size:15px; } 
        
        .medidas p{
            font-size: 12px;
            height: 70px;
        }
        .medidas img{
            width: 40px;
        }
        .medidas-cuarentena{
            grid-template: 200px/repeat(3,33%);
        }
        .container{
            display: grid;
            grid-template:  100vh  70px 325.200px 70px 200px 115px 1px 500px 1px 60px 115px 600px 50px/100vw ;
            height: 100vh;
            grid-template-areas: 
            "contenido contenido"
             "tittle-nosotros tittle-nosotros"
            "nosotros nosotros"
            "tittlecuarentena tittlecuarentena"
            "medidascuarentena medidascuarentena"
            "tittle-gallery tittle-gallery"
            "hr hr"
            "post-list post-list"
            "hr2 hr2"
            "o o"
            "tittle-contactanos tittle-contactanos"
            "contactanos contactanos"
            "footer footer"
        
           }
        .subitem.texto{  padding: 0px;}
        
        .subitem.texto h2{ font-size: 22.5px;}
        
        .subitem.texto p{
            font-size: 17.5px;
        }
        
        .post-list{
            display: grid;
            grid-template: repeat(3,140px )/ repeat(3,140px );
            gap: 7.5px;
        }
        .post-image img,
        .overlay{
            width: 140px;
            height: 140px;
        }
        .mapawidth{
            width: 550px;
            height: 550px;
        }}  
        @media (min-width:700px) and (max-width:800px){
            .whitetittle,
            .blacktittle{font-size: 27.5px;}
            .icon{ width: 22.5px; }
            
            .footer h3{ 
                font-size: 15px;
                font-family: 'moodern'; }
            
            .tittlemedida{ font-size:17.5px; } 
            
            .medidas p{
                font-size: 15px;
                height: 70px;
                padding: 0px 20px 0px 20px;
            }
            .medidas img{
                width: 40px;
            }
            .medidas-cuarentena{
                grid-template: 200px/repeat(3,33%);
            }
            .container{
                display: grid;
                grid-template:  100vh 80px 375.200px 80px 200px 125px 1px 600px 1px 60px 125px 700px 65px/100vw ;
                height: 100vh;
                grid-template-areas: 
                "contenido contenido"
                 "tittle-nosotros tittle-nosotros"
                "nosotros nosotros"
                "tittlecuarentena tittlecuarentena"
                "medidascuarentena medidascuarentena"
                "tittle-gallery tittle-gallery"
                "hr hr"
                "post-list post-list"
                "hr2 hr2"
                "o o"
                "tittle-contactanos tittle-contactanos"
                "contactanos contactanos"
                "footer footer"
            
               }
            .subitem.texto{  padding: 0px;}
            .subitem.texto h2{ font-size: 25px;}
            .subitem.texto p{
                font-size: 17.5px;
            }
            
            .post-list{
                display: grid;
                grid-template: repeat(3,175px )/ repeat(3,175px );
                gap: 7.5px;
            }
            .post-image img,
            .overlay{
                width: 175px;
                height: 175px;
            }
            .mapawidth{
                width: 650px;
                height: 650px;
            }} 
            @media (min-width:800px) and (max-width:900px){
                .whitetittle,
                .blacktittle{font-size: 30px;}
                .icon{ width: 22.5px; }
                
                .footer h3{ 
                    font-size: 15px;
                    font-family: 'moodern'; }
                
                .tittlemedida{ font-size:17.5px; } 
                
                .medidas p{
                    font-size: 15px;
                    height: 70px;
                    padding: 0px 20px 0px 20px;
                }
                .medidas img{
                    width: 40px;
                }
                .medidas-cuarentena{
                    grid-template: 200px/repeat(3,33%);
                }
                .container{
                    display: grid;
                    grid-template:  100vh 80px 375.200px 80px 200px 125px 1px 700px 1px 60px 125px 800px 65px/100vw ;
                    height: 100vh;
                    grid-template-areas: 
                    "contenido contenido"
                     "tittle-nosotros tittle-nosotros"
                    "nosotros nosotros"
                    "tittlecuarentena tittlecuarentena"
                    "medidascuarentena medidascuarentena"
                    "tittle-gallery tittle-gallery"
                    "hr hr"
                    "post-list post-list"
                    "hr2 hr2"
                    "o o"
                    "tittle-contactanos tittle-contactanos"
                    "contactanos contactanos"
                    "footer footer"
                
                   }
                .subitem.texto{  padding: 0px;}
                .subitem.texto h2{ font-size: 30px;}
                .subitem.texto p{
                    font-size: 20px;
                }
                
                .post-list{
                    display: grid;
                    grid-template: repeat(3,200px )/ repeat(3,200px );
                    gap: 7.5px;
                }
                .post-image img,
                .overlay{
                    width: 200px;
                    height: 200px;
                }
                .mapawidth{
                    width: 750px;
                    height: 750px;
                }}
                @media (min-width:900px) and (max-width:1000px){
                   
                    .container{
                        display: grid;
                        grid-template:  100vh 80px 475.200px 80px 300px 145px 1px 700px 1px 60px 145px 900px 65px/100vw ;
                        height: 100vh;
                        grid-template-areas: 
                        "contenido contenido"
                         "tittle-nosotros tittle-nosotros"
                        "nosotros nosotros"
                        "tittlecuarentena tittlecuarentena"
                        "medidascuarentena medidascuarentena"
                        "tittle-gallery tittle-gallery"
                        "hr hr"
                        "post-list post-list"
                        "hr2 hr2"
                        "o o"
                        "tittle-contactanos tittle-contactanos"
                        "contactanos contactanos"
                        "footer footer"
                    
                    }}
                @media (min-width:1000px) and (max-width:1100px){
                   
                    .container{
                        display: grid;
                        grid-template:  100vh 80px 525.200px  80px 300px 145px 1px 700px 1px 60px 145px 900px 65px/100vw ;
                        height: 100vh;
                        grid-template-areas: 
                        "contenido contenido"
                         "tittle-nosotros tittle-nosotros"
                        "nosotros nosotros"
                        "tittlecuarentena tittlecuarentena"
                        "medidascuarentena medidascuarentena"
                        "tittle-gallery tittle-gallery"
                        "hr hr"
                        "post-list post-list"
                        "hr2 hr2"
                        "o o"
                        "tittle-contactanos tittle-contactanos"
                        "contactanos contactanos"
                        "footer footer"
                    
                    }}
                    @media (min-width:1100px) and (max-width:1200px){
                   
                        .container{
                            display: grid;
                            grid-template:  100vh 80px 575.200px 80px 300px 145px 1px 700px 1px 60px 145px 900px 75px/100vw ;
                            height: 100vh;
                            grid-template-areas: 
                            "contenido contenido"
                             "tittle-nosotros tittle-nosotros"
                            "nosotros nosotros"
                            "tittlecuarentena tittlecuarentena"
                            "medidascuarentena medidascuarentena"
                            "tittle-gallery tittle-gallery"
                            "hr hr"
                            "post-list post-list"
                            "hr2 hr2"
                            "o o"
                            "tittle-contactanos tittle-contactanos"
                            "contactanos contactanos"
                            "footer footer"
                        
                        }
                    .subitem.texto h2{ font-size: 40px;}
                        .subitem.texto p{
                            font-size: 35px;
                        }}}
                        @media (min-width:1200px) and (max-width:1300px){
                   
                            .container{
                                display: grid;
                                grid-template:  100vh 80px 625.200px 80px 300px 145px 1px 700px 1px 60px 145px 900px 75px/100vw ;
                                height: 100vh;
                                grid-template-areas: 
                                "contenido contenido"
                                 "tittle-nosotros tittle-nosotros"
                                "nosotros nosotros"
                                "tittlecuarentena tittlecuarentena"
                                "medidascuarentena medidascuarentena"
                                "tittle-gallery tittle-gallery"
                                "hr hr"
                                "post-list post-list"
                                "hr2 hr2"
                                "o o"
                                "tittle-contactanos tittle-contactanos"
                                "contactanos contactanos"
                                "footer footer"
                            
                            }
                        .subitem.texto h2{ font-size: 40px;}
                        .subitem.texto p{
                            font-size: 35px;
                        }}
                        